.Nav-bar {
  background-color: white;
  border-bottom: grey;
  text-align: center;
  padding-left: 0px;
  padding-right: 20px;
  justify-content: space-between;
  display: inline-block;
  display: flex;
  font-size: 20px;
  font-family: copperplate;
}

.Nav-bar .logo {
  height: auto;
  width: 160px;
  padding: 0;
  margin: 0;
}

.navbar-links-item {
  margin: 0;
  padding: px;
  display: inline-block;
  margin-left: 100px;
  margin-right: 0px;
}

a:link {
  text-decoration: none;
}
